.post {
    width: 50%;
    border-radius: 10px;
    margin: 30px 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.postWrapper {
    padding: 10px;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postUserInfo {
    margin-left: 10px;
}

.postUserName {
    font-size: 15px;
    font-weight: 500;
}

.postDate {
    font-size: 12px;
    color: #888;
}

.postTopRight {
    cursor: pointer;
    font-size: 20px;
}

.postCenter {
    margin: 20px 0;
}

.postText {
    font-size: 14px;
}

.postImg {
    margin-top: 10px;
    width: 100%;
    max-height: 250px;
    object-fit: contain;
}

.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.postButtonLeft {
    display: flex;
    align-items: center;
}

.likeButton {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter {
    font-size: 14px;
}

.postButtonRight {
    cursor: pointer;
    font-size: 14px;
    color: gray;
    text-decoration: underline;
}