.otp-input {
    border: none;
    background-color: #121517;
    color: white;
    font-size: 32px;
    text-align: center;
    padding: 15px;
    width: 100%;
    max-width: 10px;
    height: 15px;
    border-radius: 4px;
    outline: 2px solid rgb(66, 66, 66);
  }
   
  
