* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




:root {
    --theme-dark-bg-color: #4a5859;
    --theme-light-bg-color: #9eb2b1;
    --theme-dark-font-color: #ffffff;
    --theme-light-font-color: rgb(0, 0, 0);
    --theme-color-sidebar: #eab192;
    --theme-color-darksidebar: #6c6a6a;

    --theme-color-hover: #c1705a;
    --theme-darkcolor-header: #333740;
    --theme-lightcolor-header: #c1705a;
    ;
    --theme-font-family: "Poppins", sans-serif;
    --theme-font-weight: 400;
    --theme-font-style: normal;
}

body {

    font-family: var(--theme-font-family);
    font-weight: var(--theme-font-weight);
    font-style: var(--theme-font-style);

}



.light {

    background-color: var(--theme-light-bg-color);

    color: var(--theme-light-font-color);


}

.dark {
    background-color: var(--theme-dark-bg-color);
    color: var(--theme-dark-font-color);



}

.section-1 {
    display: flex;
}

.section-11 {
    flex: 1;
    align-self: flex-start;
}

.section-12 {
    flex: 5;

    /* display: flex;
    justify-content: center; */
}